### Q1. Print a welcome message

In [1]:
print("Welcome to Python Programming!")

Welcome to Python Programming!

### Q2. Swap Two Variables

In [2]:
a = 4
b= 5
print('Enter first number: ', a)
print('Enter second number: ',b)
c = a
a = b
b = c
print("\nafter swapping:")
print('Enter first number: ',a)
print('Enter second number: ', b)

Enter first number:  4
Enter second number:  5

after swapping:
Enter first number:  5
Enter second number:  4

### Q3. Swap Two Variables

In [3]:
x = 4
y= 5
print('\nEnter first number: ', x)
print('Enter second number: ',y)
x = x + y
y = x - y
x = x - y
print("\nafter swapping:")
print('Enter first number: ',x)
print('Enter second number: ', y)

Enter first number:  4
Enter second number:  5

after swapping:
Enter first number:  5
Enter second number:  4

### Q4. Convert Temperature from Celsius to Fahrenheit

In [4]:
# Q4. Convert Temperature from Celsius to Fahrenheit
clesius = 25
print('\nEnter temperature in Celsius: ',clesius)
F = 9/5 * clesius + 32
print('Temperature in Fahrenheit: ' ,F)

Enter temperature in Celsius:  25
Temperature in Fahrenheit:  77.0