# 1. Write a Python program to print numbers from 1 to 50 using a for loop.

In [5]:
for x in range(1, 51):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

# 2. Print all even numbers between 1 and 100 using a for loop.

In [6]:
for x in range(1, 101):
    if x % 2 == 0:
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 3. Write a program to calculate the sum of numbers from 1 to N entered by the user.

In [3]:
num = int(input("Enter number: "))
i = 1
Sum = 0
while i <= num:
    Sum += i
    i = i + 1
print ('Sum of numbers is', Sum)

Enter number:  3

Sum of numbers is 6

# 4. Print the multiplication table of a number entered by the user (up to 10).

In [6]:
num = int(input('Eneter number : '))
i = 1
while i <= 10:
    print(f'{num} * {i} = {num * i}')
    i = i + 1

Eneter number :  100

100 * 1 = 100
100 * 2 = 200
100 * 3 = 300
100 * 4 = 400
100 * 5 = 500
100 * 6 = 600
100 * 7 = 700
100 * 8 = 800
100 * 9 = 900
100 * 10 = 1000

# 5. Write a program to reverse a string using a for loop.

In [77]:
string = input("Enter a string: ")

rev_text = ""
for i in range(-1 , -(len(string)+1) , -1):
    rev_text += string[i]

print("Reversed string:", rev_text)

Enter a string:  Malik

Reversed string: kilaM

# 6. Count the number of vowels present in a string using a for loop.

In [87]:
string = "My name is Muhammad Farhan Malik"
vowel_count = 0
vowels = "aeiouAEIOU"

for char in string:
    if char in vowels:
        vowel_count += 1
print("Number of vowels:", vowel_count)

Number of vowels: 10

# 7. Print the following pattern:

In [32]:
for i in range(0, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

# 8. Write a program to check whether a number is prime using a for loop.
## Given a list:
## numbers = [12, 5, 7, 18, 21, 30]

In [58]:
numbers = [12, 5, 7, 18, 21, 30]

for x in numbers:
        for i in range(2, x):
            if x % i == 0:
                print(x, "is not a Prime number")
                break
        else:
            print(x, "is a Prime number")

12 is not a Prime number
5 is a Prime number
7 is a Prime number
18 is not a Prime number
21 is not a Prime number
30 is not a Prime number

# 9. Print only numbers divisible by 3.

In [88]:
for i in range(1, 21):
    if i % 3 == 0:   
        print(i)

3
6
9
12
15
18

# 10. Break and Continue
## Print numbers from 1 to 20 but: - Skip multiples of 3. - Stop execution if number becomes greater than 15.

In [89]:
for num in range(0, 20):
    if num > 15:
        break
    if num % 3 == 0:
        continue
    print(num)

1
2
4
5
7
8
10
11
13
14

# 11. Calculate factorial of a number using a while loop.

In [2]:
num = 15
factorial = 1

for i in range(num, 0, -1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Factorial of 15 is 1307674368000